<div style="background-color: #f0f0f0; padding: 20px;
  max-width: 500px; margin: 40px auto;
  border-radius: 15px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);">

  <div style="text-align: center; margin-bottom: 20px;">
    <h1 style="margin: 0;">Historial de Stock</h1>
  </div>
</div>

<div style="
  background-color: #f0f0f0; padding: 30px;
  max-width: 500px; margin: 40px auto;
  border-radius: 15px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);
">
  <% if @historial.any? %>
    <table border="1" cellpadding="5" cellspacing="0" style="width: 100%;">
      <thead>
        <tr>
          <th>Código</th>
          <th>Cambio</th>
          <th>Motivo</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <% @historial.each do |registro, index| %>
          <tr>
            <td><%= registro[:codigo_producto] %></td>
            <td><%= registro[:cambio] %></td>
            <td>
                <%= form_with url: actualizar_motivo_path, method: :patch, local: true do %>
                    <%= hidden_field_tag :index, index %>
                    <%= text_field_tag :motivo, registro[:motivo], style: "width: 90%;" %>
            </td>
            <td><%= registro[:fecha] %></td>
            <td>
                <%= submit_tag 'Guardar', style: "padding: 4px 10px; background-color: #1b9aa0; color: white; border: none; border-radius: 5px;" %>
            <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p style="text-align: center;">No hay registros en el historial.</p>
  <% end %>

  <div style="margin-top: 20px; text-align: center;">
    <%= link_to 'Volver al inventario', '/inventario/index',
        style: 'padding: 10px 20px; background-color: #ccc; color: black;
                text-decoration: none; border-radius: 10px; font-weight: bold;' %>
  </div>
</div>